@{
    ViewData["Title"] = "Home Page";
}
@model DateTime


@{
   


}
<div class="text-center">
    <h1 class="display-4">Hola @ViewBag.Nombre @mensajeHora </h1>
   



</div>


<p>
    @Html.ActionLink("Volver al Inicio", "Index", "Home")
</p>